body {
    background: #ffe259; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #ffa751,
        #ffe259
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #ffa751,
        #ffe259
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-attachment: fixed;

    font-family: consolas;
}
textarea {
    margin-top: 5px;
    width: 300px;
    height: 70px;
    text-align: center;
}

.smallprofile {
    z-index: 10;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 50px;
    transition: 0.3s color;
    color: greenyellow;
    object-fit: cover;
}
.smallprofile:hover {
    color: black;
}
.fullprofile {
    border: 2px solid black;
    display: block;
    margin: auto;
    max-width: 720px;
    max-height: 480px;
}
.Profile {
    text-align: center;
}
.title {
    text-align: center;
}
.LinkHome {
    display: block;
    max-width: 720px;
    max-height: 480px;
    padding: 0;
    margin: auto;
}
.Logo {
    z-index: 10;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 50px;
    transition: 0.3s color;
    color: greenyellow;
}
.Logo:hover {
    color: black;
}
.ChatLogo {
    z-index: 10;
    position: fixed;
    top: 15px;
    left: 170px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 50px;
    transition: 0.3s color;
    color: greenyellow;
}
.ChatLogo:hover {
    color: black;
}
.Chat {
    width: 100vw;
    position: relative;
    text-align: center;
    margin: auto;
}
.ChatSmall {
    position: relative;
    margin: auto;
}
.Logout {
    z-index: 10;
    position: fixed;
    top: 15px;
    right: 170px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 50px;
    transition: 0.3s color;
    color: greenyellow;
}
.Logout:hover {
    color: black;
}
.findpeople {
    margin: auto;
    text-align: center;
}
.people {
    margin: auto;
    width: 90%;
}
input {
    text-align: center;
}
.mostRecentImage {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.mostRecentContainer {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 5px;
}

.mostRecentLink {
    color: black;
    text-decoration: none;
    cursor: default;
}
.friendDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.friendDivSmall {
    width: 300px;
    height: 200px;
}
.ChatPic {
    margin-left: 3px;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.createdAt {
    color: rgba(0, 0, 0, 0.274);
    font-size: 0.75em;
}
.ChatContainer {
    position: relative;
    margin: auto;
    width: 70vw;
    height: 650px;
    padding: 5px;
    overflow-y: auto;
}
.chatMessage {
    position: relative;
    width: 50%;
    margin: auto;
    box-shadow: 0 0 20px;
    border-radius: 20px;
    background-color: rgba(107, 107, 107, 0.322);
}
.chatText {
    margin: 0;
    font-size: 1.5em;
}
.onlineUsers {
    position: fixed;
    width: 150px;
    top: 25%;
    left: 3%;
}
.onlineUsersContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.onlineUsersContainerSmall {
    width: 150px;
    height: 100px;
    padding: 3px;
}
.onlineUsersPic {
    object-fit: cover;
    width: 50px;
    height: 50px;
    color: black;
}
.search:hover {
    color: rgb(165, 42, 42);
}
.login {
    text-align: center;
}
.newestMembers {
    position: fixed;
    width: 150px;
    top: 25%;
    right: 3%;
}
.newestContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.newestContainerSmall {
    height: 120px;
    width: 150px;
}
