body {
    background-color: lightgrey;
}
textarea {
    width: 300px;
    height: 70px;
}

.smallprofile {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 50px;
    transition: 0.3s color;
    color: dimgray;
}
.smallprofile:hover {
    color: black;
}
.fullprofile {
    border: 2px solid black;
    display: block;
    margin: auto;
    max-width: 720px;
    max-height: 480px;
}
.Profile {
    text-align: center;
}
.title {
    text-align: center;
}
.LinkHome {
    display: block;
    max-width: 720px;
    max-height: 480px;
    padding: 0;
    margin: auto;
}
.Logo {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 50px;
    transition: 0.3s color;
    color: dimgray;
}
.Logo:hover {
    color: black;
}
.findpeople {
    margin: auto;
    text-align: center;
}
input {
    text-align: center;
}
.mostRecent {
    max-width: 100px;
    max-height: 100px;
}
